<div class="white-border text-white">
  <!-- NAVSEARCH-COMPONENT -->
  <div class="container mt-5">
    <form (submit)="onSubmit(formData)" #formData="ngForm">
      <div class="row">
        <img class="icons img-thumbnail" src="/assets/images/steam.png" alt="steam icon" [ngClass]="{ 'op-none': platform[0], 'op-3': !platform[0] }"
          (click)="setPlatform(0)">
        <img class="icons img-thumbnail" src="/assets/images/playstation.png" alt="playstation icon" [ngClass]="{ 'op-none': platform[1], 'bg-blue': platform[1], 'op-3': !platform[1] }"
          (click)="setPlatform(1)">
        <img class="icons img-thumbnail" src="/assets/images/xbox.png" alt="xbox icon" [ngClass]="{ 'op-none': platform[2], 'bg-green': platform[2], 'op-3': !platform[2] }"
          (click)="setPlatform(2)">
        <div class="col rm-pad">
          <input class="form-control px-40" type="text" placeholder="Enter Steam Community ID, PSN, or Xbox gamer tags" name="id" [(ngModel)]="user_id">
        </div>
        <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
      </div>
    </form>
    <div class="row mt-2">
      <div *ngIf="found === false" class="error col bg-danger text-white pt-2">
        <span>Sorry, we can't find the specified player. Try entering a steam community id (e.g. 76561197988132185)</span>
      </div>
    </div>
  </div>
  <!-- container mt-5 -->

  <div *ngIf="found" class="container mt-2 black-opacity">
    <div class="row p-3 white-border-bottom">
      <div class="col col-name">
        <h3>{{ stats.name }}</h3>
      </div>
      <div class="col text-right">
        <div *ngIf="username; else disabled">
          <button (click)="followButtonClicked()" class="btn btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> Follow
          </button>
        </div>
        <ng-template #disabled>
          <button class="btn btn-success" disabled>
            <i class="fa fa-plus" aria-hidden="true"></i> Log in to follow!
          </button>
        </ng-template>
      </div>
    </div>
    <div class="row p-3 white-border-bottom">
      <div class="col-sm col-12 avatar">
        <img class="img-fluid d-block avatar" src="{{ stats.avatar }}" alt="No Avatar">
      </div>
      <div class="col-sm col-6 text-center">
        <h5>Solo</h5>
        <span class="d-block">{{ stats.solo.tier }}</span>
        <img class="img-fluid" src="{{ stats.solo.icon }}">
        <span class="d-block">{{ stats.solo.division }} </span>
        <span class="d-block">{{ stats.solo.rating }} MMR</span>
        <span class="d-block">{{ stats.solo.matches }} matches</span>
      </div>
      <div class="col-sm col-6 text-center">
        <h5>Doubles</h5>
        <span class="d-block">{{ stats.doubles.tier }}</span>
        <img class="img-fluid" src="{{ stats.doubles.icon }}">
        <span class="d-block">{{ stats.doubles.division }} </span>
        <span class="d-block">{{ stats.doubles.rating }} MMR</span>
        <span class="d-block">{{ stats.doubles.matches }} matches</span>
      </div>
      <div class="col-sm col-6 text-center">
        <h5>Solo Standard</h5>
        <span class="d-block">{{ stats.solo_standard.tier }}</span>
        <img class="img-fluid" src="{{ stats.solo_standard.icon }}">
        <span class="d-block">{{ stats.solo_standard.division }} </span>
        <span class="d-block">{{ stats.solo_standard.rating }} MMR</span>
        <span class="d-block">{{ stats.solo_standard.matches }} matches</span>
      </div>
      <div class="col-sm col-6 text-center">
        <h5>Standard</h5>
        <span class="d-block">{{ stats.standard.tier }}</span>
        <img class="img-fluid" src="{{ stats.standard.icon }}">
        <span class="d-block">{{ stats.standard.division }} </span>
        <span class="d-block">{{ stats.standard.rating }} MMR</span>
        <span class="d-block">{{ stats.standard.matches }} matches</span>
      </div>
    </div>
    <div class="row p-3">
      <div class="col-sm col-4 text-center">
        <img class="img-fluid" src="/assets/images/stats/wins.png">
        <span class="d-block">{{ stats.wins }} Wins</span>
      </div>
      <div class="col-sm col-4 text-center">
        <img class="img-fluid" src="/assets/images/stats/goals.png">
        <span class="d-block">{{ stats.goals }} Goals</span>
      </div>
      <div class="col-sm col-4 text-center">
        <img class="img-fluid" src="/assets/images/stats/mvps.png">
        <span class="d-block">{{ stats.mvps }} MVPs</span>
      </div>
      <div class="col-sm col-4 text-center">
        <img class="img-fluid" src="/assets/images/stats/saves.png">
        <span class="d-block">{{ stats.saves }} Saves</span>
      </div>
      <div class="col-sm col-4 text-center">
        <img class="img-fluid" src="/assets/images/stats/shots.png">
        <span class="d-block">{{ stats.shots }} Shots</span>
      </div>
      <div class="col-sm col-4 text-center">
        <img class="img-fluid" src="/assets/images/stats/assists.png">
        <span class="d-block">{{ stats.assists }} Assists</span>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- navsearch-component -->
