<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">RLHub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container mt-5">
    <form (submit)="onSubmit(formData)" #formData="ngForm" class="">
      <div class="row">
        <img class="icons img-thumbnail" src="/assets/images/steam.png" alt="steam icon"
        [ngClass]="{ 'op-none': platform[0], 'op-3': !platform[0] }"
        (click)="setPlatform(0)">
        <img class="icons img-thumbnail" src="/assets/images/playstation.png" alt="playstation icon"
        [ngClass]="{ 'op-none': platform[1], 'op-3': !platform[1] }"
        (click)="setPlatform(1)">
        <img class="icons img-thumbnail mr-2" src="/assets/images/xbox.png" alt="xbox icon" [ngClass]="{ 'op-none': platform[2], 'op-3': !platform[2] }"
          (click)="setPlatform(2)">
        <div class="col rm-pad">
          <input class="form-control" type="text" placeholder="Enter Steam Community ID"
          name="id"
          [(ngModel)]="user_id">
        </div>
          <button class="btn btn-primary">Search</button>
      </div>
    </form>
  <div *ngIf="found_data.uniqueId">{{ found_data | json }}</div>
  <div *ngIf="found_data.code">Sorry, we can't find the specified player</div>
</div>
