<div class="white-border">
  <!-- APP-COMPONENT -->
  <nav class="navbar navbar-expand-md navbar-dark black-opacity">
    <a [routerLink]="['/']" class="navbar-brand"><i class="fa fa-home" aria-hidden="true"></i> RLHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div *ngIf="username">
          <li class="nav-item">
            <a [routerLink]="['/following']" class="nav-link"><i class="fa fa-heart" aria-hidden="true"></i> Following</a>
          </li>
        </div>
      </ul>
      <div *ngIf="username; else login">
        <h5 class="d-inline mr-2">{{ username }}</h5>
        <button (click)="logout()" class="btn btn-outline-primary my-2 my-sm-0 mr-2">
          <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
        </button>
      </div>
      <ng-template #login>
        <form (submit)="logon(formData)" #formData="ngForm" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" name="email" placeholder="Email"
          [(ngModel)]="user.email"
          #email="ngModel"
          required
          pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
          <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password"
          [(ngModel)]="user.password"
          #password="ngModel"
          required
          minlength="8">
          <button class="btn btn-outline-primary my-2 my-sm-0 mr-2"
            type="submit"
            [disabled]="!formData.valid">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Login
          </button>
        </form>
        <button (click)="register()" class="btn btn-outline-success my-2 my-sm-0"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up?</button>
      </ng-template>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>