/* You can add global styles to this file, and also import other style files */

body {
    background-image: url('/assets/images/rlbackground2.jpg');
}

h5 {
    margin-bottom: 0;
    font-size: 12pt;
    font-weight: 400pt;
}

span {
    font-size: 10pt;
}

.name-title {
    border-bottom: 3px solid white;
    margin-bottom: 0;
}

.avatar {
    padding-left: 0;
}

.app-component {
    border: 3px solid white;
} 

/* .container {
    border: 3px solid orange;
} */

.error {
    border-radius: 3px;
    height: 43px;
}

.bg-blue {
    background-color: #007cd6;
}

.bg-green {
    background-color: #90fb0b;
}

.icons {
    width: 40px;
    height: 40px;
}

.rm-pad {
    padding: 0;
}

.form-control {
    height: 40px;
}

.img-thumbnail {
    border: none;
}

.op-none {
    opacity: 1;
}

.op-3 {
    opacity: 0.3;
}